.app * {
    margin: 0px;
    padding: 0px;
}

.input-main {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#input-main-user {
    width: 45%;
    padding: 10px 5px;
    text-align: center;
    border-top: none;
    border-left: none;
    
    border: 1.5px solid #aaa;
    border-radius: 3px;
}

#input-main-user:focus {
    outline:none;
    border: 1.5px solid #FFA000;
    border-radius: 3px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}

.cipher-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    padding:40px 0px;
    justify-items: center;
    grid-row-gap:4em;
}
@media (max-width: 960px) {
    .cipher-container{
        grid-template-columns: 1fr;
    }
}