.cipher-tile, .cipher-tile-settings {
    text-align: center;
    height: 300px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    width: 70%;
    display: grid;
    grid-template-rows: 4fr 6fr;
    align-items: center;
    border-radius: 3px;
    position: relative;
    background: white;
}

.cipher-tile {
    display: grid;
}

.cipher-tile-settings {
    display: flex;
}

.cipher-header {
    font-size: 1.3em;

    color: White;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    align-items: center;
}

.cipher-header.encryption {
    background: #FFC107;
    transition:background 0.5s ease-out;
}

.cipher-header.decryption {
    background: #2196F3;
    transition:background 0.5s ease-in;
}

.cipher-settings {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.cipher-settings-image {
    transform: rotate(0deg);
    transition: transform 0.3s;
    width: 20px;
    height: 20px;
}

.cipher-settings-image:hover {
    transform: rotate(30deg);
    transition: transform 0.3s;
}

.cipher-proper-container {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.cipher-desc {
    padding: 0px 10%;
    font-size: 0.8em;
    text-align: center;
    color: rgb(56, 54, 54);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cipher-container-output {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cipher-output {
    height: 30%;
    text-align: center;
    bordeR: 1px solid rgb(202, 193, 193);
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cipher-output:focus {
    outline: none;
}